body {
  background-color: rgb(45, 119, 189);
}
/* Contenedor */
.contenedor {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Estilo card */
.card {
  margin: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(45, 119, 189);
  width: 200px;
  height: 80px;
  text-align: center;
}
/* Estilado unico */
.card-1 {
  background-color: whitesmoke;
  box-shadow: -20px 20px 20px rgb(26, 25, 25);
}
.card-2 {
  background-color: whitesmoke;
  box-shadow: 0px 20px 25px -5px rgb(26, 25, 25);
}
.card-3 {
  background-color: whitesmoke;
  box-shadow: 0px 65px 20px -20px;
}
